<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

    <targets>
        <target xsi:type="File" name="jsonFile" fileName="logs/log.json">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level}" />
                <attribute name="message" layout="${message}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="threadId" layout="${threadid}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
                <attribute name="properties" encode="false" includeAllProperties="true" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="jsonFile" />
    </rules>
</nlog>